<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RecipeApp | Recipes</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
    </head>
    <body class="body">
        <div class="nav-bar">
            <div>
                <a href="/recipes/list" class="button"> Home </a>
            </div>
            <div>
                <a href ="/recipes/search" class="button"> Recipe Records </a>  
            </div>
            <div>
                <a href ="{%url 'logout' %}" class="button"> Logout </a>
            </div>
        </div>
        <h1 style="text-align: center;"> Search Recipe Records </h1>
        <hr>
        <form action="" method="POST" style="margin-bottom: 20px;">
            {% csrf_token %}
            {{form}}
            <button type="submit" >Search</button>
        </form> 
        <br>
            {% if recipe_df %}
                {{recipe_df|safe}}
            <br>
            <img src="data:image/png;base64, {{chart|safe}}">
            {% else %}
                <h3> no data</h3>
            {% endif %}
    </body>
</html>