<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RecipeApp | Recipes</title>
        {% load static %}
    </head>
    <body>
        <h1 style="text-align: center;"> Search Recipe Records </h1>
       
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit" >search</button>
        </form> 
        <br>
            {% if recipe_df %}
                {{recipe_df|safe}}
            <br>
            <img src="data:image/png;base64, {{chart|safe}}">
            {% else %}
                <h3> no data</h3>
            {% endif %}
         <div style="text-align: right;">
            <a href="/recipes/list"> Back </a>
        </div>
        <div style="text-align: right;">
            <a href ="{%url 'logout' %}" > Logout </a>
        </div>
    </body>
</html>