<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Recipe App Login</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
    </head>
    <body class="body" style="text-align: center;">
        <h1>Login</h1>

        {% comment %} check for error message {% endcomment %}
        {% if error_message %}
        <div id="error_login">
        {{error_message}}
        </div>
        {% endif %}

        {% comment %} print form {% endcomment %}
        <form action="" method="POST">
            {% comment %} add Django security token {% endcomment %}
            {% csrf_token %}

            {% comment %} print form received from view {% endcomment %}
            <div class="form_input">
                {{form}}
            </div>

            {% comment %} add button {% endcomment %}

            {% comment %} add button {% endcomment %}
            <br>
            <button type="submit" class="button">Login</button>

            <a href="/" class="button"> Cancel </a>
        </form>
    </body>

</html>